* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.section1 {


    height: 100vh;
    background-color: white;
    background-image: linear-gradient(100deg, #fff 51%, rgb(245, 180, 0) 50%);

}


#header {

    height: 90px;
}

/*logo styling*/

.logo img {

    margin-left: 20px;
    float: left;

}

/*styling burger*/



/* styling  burger*/
.logo h1 {

    font-style: italic;
    padding: 20px 10px;
    float: left;
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family:'Oleo Script Swash Caps', cursive;

}

/*changing burger last bit to yellow*/
span {
    color: #F6B400;
}

.nav-menu ul {

    margin-left: 0;
    display: flex;
    float: right;
    align-items: center;




}

/* styling the menu list*/

.nav-menu li {
    list-style-type: none;
    padding: 10px 25px;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 20px;
    font-weight: 600;
    float: left;


}

/* changing link font color to black*/
a:link {
    color: black;
    text-decoration: none;
}

/* adding the orange border under home menu*/

.first {
    border-bottom: 3px solid orangered;
    padding-bottom: 8px;


}



/* column 1 floats to the left*/

.column1 {

    text-align: justify;
    width: 50%;
    float: left;
    height: 550px;
}

.column1 h3 {
    text-align: justify;
    margin-top: 90px;
    margin-left: 60px;
    font-size: 32px
}

.column1 p {

    margin-top: 30px;
    margin-left: 60px;
    font-size: 16px;
    text-align: justify;

}

/*style later*/

.column1 button {
    background-color: #F6B400;
    margin-top: 70px;
    margin-left: 100px;
    padding: 9px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 8px;
    color: white;
    text-align: left;
    border: 0 solid #f6B400;
}

/*  clumns two floats to the right*/
.column2 {

    height: 550px;
    width: 50%;
    background-image: url(../images/[CITYPNG\ 1.png);
    float: right;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;


}




/*section 2 starts here*/


   

/*section 2*/

#section2{

    height: 100vh;
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;
   justify-content: space-around;
   
   
}

.box1{
width:20%;
border: 2px solid maroon;
height: 300px;
margin: 10px;



}
.box2{
    width:25%;
    border: 2px solid maroon;
    height: 400px;
    margin: 10px;
    align-self: stretch;
    margin-top: 150px;
    
    
    
    }

    .box2 h3{
        margin-top: 40px;
    }

.box3{
        width:20%;
        border: 2px solid maroon;
        height: 300px;
        margin: 10px;

    
    }

        .foodcover-img{
            width :20%;

        }
        .foodcover-img img{
            height: 100px;
            width: 100px;
            object-fit: contain;
            margin-left:70px;
            
        }


        .soda-img{
            width :20%;

        }
        .soda-img img{
            height: 100px;
            width: 100px;
            object-fit: contain;
            margin-left:70px;}

        #section2 h3{
            color: maroon;
            font-size: 25px;
            text-align: center;
        }

        #section2 p{
            padding: 10px;
            margin-top: 5px;
            text-align: center;
            
            


        }
        .delivery-img{
    
            width :20%;

        }

        .fa-customize{

            font-size: 50px;
            color:#F6B400;
            margin-top: 20px;
            margin-left: 120px;
            margin-top: 40px;
        }
            
/*section 3 starts here*/

.section3 {
    height: 100vh;
    margin: 0 auto;



}


.head-section {
    height: 90px;
    text-align: center;

}

.head-section h3 {
    font-size: 32px;
    margin-top: 50px;




}



.card {
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 140px;
    margin-top: 35px;
    margin-right: 40px;
    padding: 3px;
    box-shadow: 10px 10px 10px black;
    height: 500px;
    float: left;
    width: 20%;

}

.card-image {
    height: 200px;
    width: 200px;
    margin-left: 30px;


}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;


}

.card-content h3 {

    color: maroon;
    font-size: 23px;
    text-align: center;

}

.card-content p {

    margin-top: 20px;
    padding: 20px;
    text-align: center;

}

.card-extras {

    height: 20%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.card-extras p {
    font-weight: 600;
    float: left;
    padding-left: 20px;
    margin-top: 10px;
}

.fa-cart {
    float: right;
    background-color: #E1EBE6;
    padding: 6px;
    border-radius: 50px;
}

/* card two*/
.card2 {
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 35px;
    margin-right: 40px;
    padding: 3px;
    box-shadow: 10px 10px 10px black;
    height: 500px;
    float: left;
    width: 20%;

}

.fa-add {
    float: left;
    padding: 5px;


}

.fa-minus {
    padding: 5px;
    float: left;

}

.butt p {

    text-align: center;
    float: left;
    padding-right: 10px;
}

.butt {

    background-color: #E1EBE6;
    float: right;
    border-radius: 50px;
    text-align: center;

}

.card3 {
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 35px;
    margin-right: 50px;
    padding: 3px;
    box-shadow: 10px 10px 10px black;
    height: 500px;
    float: left;
    width: 20%;

}

.card4 {
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 140px;
    margin-top: 35px;
    margin-right: 40px;
    padding: 3px;
    box-shadow: 10px 10px 10px black;
    height: 500px;
    float: left;
    width: 20%;


}

.card5 {
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 35px;
    margin-right: 40px;
    padding: 3px;
    box-shadow: 10px 10px 10px black;
    height: 500px;
    float: left;
    width: 20%;
}

.card6 {
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 35px;
    margin-right: 50px;
    padding: 3px;
    box-shadow: 10px 10px 10px black;
    height: 500px;
    float: left;
    width: 20%;

}

#section4{
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    clear: both;

}

.col-left{
    width: 50%;
   
}

.col-right{
    
    width:50%;
    
}

.col-right  img{
    height: 500px;
    width: 500px;
    object-fit: contain;
    position: absolute;
   

}

.decker-one{
    right: 100px;
    top:50px;
}

.decker-two{

    left:600px;
    bottom:20px;
}
.col-left h3 {
    margin-top: 300px;
    font-size: 32px;
    margin-left: 50px;
}

.taste {
    margin-top: 30px;
    margin-left: 50px;

}

.slider-dots {
    padding: 100px;
    margin-top: 100px;
    float: left;

}





.section5 {
    background-color: #F6B400;
    height: 100vh;


}

.wording {

    margin-top: 230px;
    margin-left: 50px;
    float: left;


}

.wording h3 {
    color: black;
    font-size: 40px;




}

.mobile-images {
    float: right;
    margin-right: 50px;
    margin-top: 150px;
    text-align: center;


}

.mobile-images img {

    padding: 20px;
    object-fit: contain;
    border-radius: 50px;
}

.stores-icon {


    display: inline;

}

.wording img {

    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: contain;
}

.footer {
    height: 120px;
    background-color: #E1EBE6;
    display: inline;
}

.footer-details {
    height: 90%;
    display: flex;
}

.footer img {

    margin-left: 20px;
    float: left;
}

.footer span{
    font-family: 'Oleo Script Swash Caps', cursive;
}

.footer-logo h1{



    padding: 20px 10px;
    float: left;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Oleo Script Swash Caps', cursive;


}

.footer-menu ul {
    list-style-type: none;



}

.footer-menu li {
    font-size: 16px;

    width: 100px;
    padding: 2px;


}

.subscription {

    margin-bottom: 10px;
    margin-left: 600px;
    float: right;
    padding: 10px;
}

.subscription p {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;


}

.subscription input {
    margin-top: 10px;
}

.footer-end {
    height: 50px;
    display: flex;
}

.footer-end p {
    padding: 10px;
    font-size: 12px;
}

.icon {
    margin-left: 400px;
    align-items: center;
    padding: 10px;


}

.sub {
    background-color: yellow;
    margin-left: -1px;
}

.name {

    float: right;
    color: black;
    font-size: 11px;
    margin-left: 400px;
}